n8n_workflows/generator_workflow.json
{
  "name": "generator_workflow",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3:latest",
          "mode": "list",
          "cachedResultName": "llama3:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=INSTRUCCIONES DE COMPORTAMIENTO:\nEres un fisioterapeuta cl\u00ednico especializado en geriatr\u00eda y dolor cr\u00f3nico. Redacta notas de evoluci\u00f3n en texto libre, utilizando terminolog\u00eda t\u00e9cnica de fisioterapia (ej. ROM, balance articular, kinesiofobia, ABVD). Queda estrictamente prohibido usar listas o formato estructurado. Escribe un p\u00e1rrafo narrativo y denso.\n\nDATOS DEL PACIENTE:\n- G\u00e9nero: {{ $json.gender }}\n- Edad: {{ $json.age }} a\u00f1os\n- Diagn\u00f3stico principal: {{ $json.main_diagnosis }}\n- Nivel de dolor (EVA): {{ $json.pain_level }}\n- \u00cdndice de Barthel: {{ $json.barthel_index }}\n- Contexto cl\u00ednico: {{ $json.comorbid_context }}\n\nTAREA:\nRedacta la nota de evaluaci\u00f3n inicial integrando los datos anteriores. En la narrativa, describe detalladamente:\n1. Su actitud postural y alteraciones en el patr\u00f3n de la marcha o necesidad de ayudas t\u00e9cnicas.\n2. Limitaciones de movilidad activa/pasiva relacionadas con el dolor.\n3. Barreras psicosociales (miedo al movimiento, fatiga, aislamiento).\n4. Nivel de asistencia requerida para actividades b\u00e1sicas (aseo, vestido, transferencias)."
            },
            {}
          ]
        },
        "simplify": false,
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        688,
        -352
      ],
      "id": "fc559a7e-22a0-4452-b952-b2f3ef14d7c1",
      "name": "Message a model",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "ollamaApi": {
          "id": "UtWcKdNytXqpLqaV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        -208
      ],
      "id": "d380ec5f-a0ad-45df-98a1-763c072694aa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        752,
        -160
      ],
      "id": "5aac0288-cc7a-4507-9c42-8a317bc2f3cb"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "pacientes_silico.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1488,
        -352
      ],
      "id": "7a10d5f2-4d5d-4207-9e91-f0b601c51bfe",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86e27b80-f80c-4ff2-949d-5cb2d7e6ea8f",
              "name": "patient_id",
              "value": "={{ $('Loop Over Items').item.json.patient_id }}",
              "type": "string"
            },
            {
              "id": "d75ea817-14a6-40d5-bd8f-5f636868e3e2",
              "name": "Historia_Clinica",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "{{$json.patient_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -352
      ],
      "id": "8708f7ac-96a4-48c4-b549-c9f89f60e5f3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1264,
        -352
      ],
      "id": "c88c21c6-4ecc-4a00-9e83-321c2ebab114",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const numPatients = 5;\n\nconst diagnoses = [\n  'Artrosis severa de rodilla bilateral', \n  'Lumbalgia cr\u00f3nica inespec\u00edfica con kinesiofobia', \n  'S\u00edndrome de fragilidad geri\u00e1trica y sarcopenia', \n  'Dolor cr\u00f3nico generalizado (sospecha de sensibilizaci\u00f3n central)', \n  'Fractura de cadera reciente post-quir\u00fargica'\n];\n\nconst barthelScores = [\n  '20 (Dependencia grave)', \n  '45 (Dependencia moderada)', \n  '60 (Dependencia leve)', \n  '90 (Independiente para ABVD)'\n];\n\nconst painVAS = ['4/10', '6/10', '8/10', '9/10 (Dolor irruptivo)'];\n\nconst comorbidities = [\n  'Deterioro cognitivo leve', \n  'Polifarmacia (m\u00e1s de 8 f\u00e1rmacos)', \n  'Aislamiento social y estado an\u00edmico bajo', \n  'Hipertensi\u00f3n y riesgo moderado de ca\u00eddas'\n];\n\nconst genders = ['Hombre', 'Mujer'];\n\n// Funci\u00f3n auxiliar para elegir un elemento aleatorio\nconst getRandom = (arr) => arr[Math.floor(Math.random() * arr.length)];\n\nlet syntheticPatients = [];\n\nfor (let i = 0; i < numPatients; i++) {\n  // Edad aleatoria entre 18 y 95 a\u00f1os (ambos inclusive)\nlet age = Math.floor(Math.random() * (95 - 18 + 1)) + 18;\n  \n  // ID con formato GER-001, GER-002...\n  let patientId = String(i + 1).padStart(3, '0');\n  \n  syntheticPatients.push({\n    json: {\n      patient_id: patientId,\n      age: age,\n      gender: getRandom(genders),\n      main_diagnosis: getRandom(diagnoses),\n      barthel_index: getRandom(barthelScores),\n      pain_level: getRandom(painVAS),\n      comorbid_context: getRandom(comorbidities)\n    }\n  });\n}\n\nreturn syntheticPatients;;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -208
      ],
      "id": "47016268-1358-4122-997a-e1313c344c5e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## Clinical text generator 1.0\nTriggers when click, it uses code with information of patients to create clinical stories from there",
        "height": 560,
        "width": 1952
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -480
      ],
      "typeVersion": 1,
      "id": "39116d74-cafa-4ffd-bfa2-cf3f76a0313e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Clinical text generator 2.0.\nIt uses icf_codes and ICF documentation to create the clinical free text.\nCONS: depends on the LLM for structuring on JSON. ",
        "height": 800,
        "width": 1952
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        400
      ],
      "typeVersion": 1,
      "id": "8b8f0009-be9b-457b-bb90-97afa83654dd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "pacientes_silico.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1456,
        528
      ],
      "id": "ab91b97d-385a-44bd-a082-fc627cee7541",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "content": "## Version 1.0 -> 2.0\n- Promt usar RAG con documentos ICF para las historias cl\u00ednicas\n- Las historias cl\u00ednicas se crean una a una y se pasan al nodo c\u00f3digo -> En futuras versiones simplemente se subir\u00e1 el JSON con las historias pero para testeo esta forma lo simplifica",
        "height": 192,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        144
      ],
      "typeVersion": 1,
      "id": "dc32339f-7843-4fab-8d34-8a8ddb38a001",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "##  RAG for Clinical text generator 2.0\nIt uses ICF document to create a Vector store for the generator to get information for ICF codes\n",
        "height": 784,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        416
      ],
      "typeVersion": 1,
      "id": "731762b0-9280-4eb9-b56b-e72c3e34c9b8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "formTitle": "documento_raw",
        "formFields": {
          "values": [
            {
              "fieldLabel": "documento_a_vectorizar",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        2176,
        704
      ],
      "id": "79145de0-acc4-493f-80a5-034210112ba9",
      "name": "On form submission",
      "webhookId": "30dc0b85-fc1c-466e-8d8a-bb1829de650b",
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2624,
        912
      ],
      "id": "357fecbb-d05a-41d1-a426-4c847a41b93c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": "icf_brief_spanish",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2464,
        704
      ],
      "id": "b2e16f8b-891f-4f5c-acf4-768cbf7dd69f",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "Se6dS4EqhF06aYMR",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2400,
        912
      ],
      "id": "3b81b505-d3b0-45d7-b966-181dd2f5e8f4",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "UtWcKdNytXqpLqaV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        976
      ],
      "id": "c69e9f76-8eb5-4bc9-9afa-692ef34cedec",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JEETsbvwfH5JUXdD",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        976,
        1024
      ],
      "id": "19b9470c-3203-48a5-b2f4-a2a9a5ebc4cb",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "UtWcKdNytXqpLqaV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1072,
        720
      ],
      "id": "46e89ce6-bde9-419e-96b3-4206df384c33",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "qdrantCollection": "icf_brief_spanish",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        976,
        880
      ],
      "id": "6e5942a0-1d63-49e8-b854-34487a165809",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Se6dS4EqhF06aYMR",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        640,
        656
      ],
      "id": "e84fce7d-ed82-4821-8429-6887b7ead66e"
    },
    {
      "parameters": {
        "batchSize": 250,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        592
      ],
      "id": "5632d5bf-092b-4dbf-8ff0-5c9dbf39acdf",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json:{\n  \"id_code_combination\": \"006\",\n  \"icf_codes\": [\"b280\", \"d430\", \"d760\", \"d770\", \"d920\"],\n  \"icf_name\": [\"b280-Sensaci\u00f3n de dolor\",\"d430-Levantar y llevar objetos\",\n        \"d760-Relaciones Familiares\", \"d920-Tiempo libre y ocio\"]\n    }\n  }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        832
      ],
      "id": "d71935d3-83e9-44b7-8b12-b1881df7ae5d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "formTitle": "documento_raw",
        "formFields": {
          "values": [
            {
              "fieldLabel": "documento_a_vectorizar",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        656
      ],
      "id": "ce5e7edd-5671-4953-8500-4190f08c0c06",
      "name": "On form submission1",
      "webhookId": "e417b5d6-bb8e-4ce5-8def-d5418c0c198d"
    },
    {
      "parameters": {
        "jsCode": "// 1. Verificamos que existan datos binarios en el primer item\nconst firstItem = $input.first();\nif (!firstItem || !firstItem.binary) {\n  throw new Error('No se encontraron datos binarios en la entrada del Form Trigger.');\n}\n\n// 2. Obtenemos el nombre de la propiedad binaria (usualmente es 'data' o 'file')\nconst binaryKey = Object.keys(firstItem.binary)[0];\n\n// 3. Extraemos el archivo como un Buffer usando el helper nativo de n8n\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n\n// 4. Convertimos el Buffer a string (UTF-8) y parseamos el JSON\nconst rawString = binaryBuffer.toString('utf-8');\nconst parsedData = JSON.parse(rawString);\n\n// 5. Nos aseguramos de que parsedData sea un array para evitar errores al mapear\nconst itemsToProcess = Array.isArray(parsedData) ? parsedData : [parsedData];\n\n// 6. Retornamos la estructura esperada por n8n\nreturn itemsToProcess.map(item => ({\n  json: {\n    id_code_combination: item.id_code_combination,\n    icf_codes: item.icf_code,\n    icf_name: item.icf_name || null,\n    clinical_profile: item.clinical_profile || null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        656
      ],
      "id": "f6f95cc6-9b17-4e7f-8e96-413448c1a524",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM response into clean JSON\nconst response = $json.response;\nlet parsed = null;\n\nif (typeof response === 'object') {\n  parsed = response;\n}\n\nif (!parsed && typeof response === 'string') {\n  try {\n    parsed = JSON.parse(response);\n  } catch (e) {\n    const blockMatch = response.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n    if (blockMatch) {\n      try {\n        parsed = JSON.parse(blockMatch[1].trim());\n      } catch (e2) {\n        const braceMatch = response.match(/\\{([\\s\\S]*)\\}/);\n        if (braceMatch) {\n          try {\n            parsed = JSON.parse(braceMatch[0]);\n          } catch (e3) {\n            parsed = { error: 'No se pudo parsear la respuesta', raw: response };\n          }\n        }\n      }\n    }\n  }\n}\n\nif (!parsed) {\n  return [{ json: { error: 'Respuesta no parseable', raw: response } }];\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        416
      ],
      "id": "4a2a90aa-1f4c-485b-9c40-f731c66cb6d7",
      "name": "parsea respuesta LLM"
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM response into clean JSON\nconst response = $json.response;\nlet parsed = null;\n\nif (typeof response === 'object') {\n  parsed = response;\n}\n\nif (!parsed && typeof response === 'string') {\n  try {\n    parsed = JSON.parse(response);\n  } catch (e) {\n    const blockMatch = response.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n    if (blockMatch) {\n      try {\n        parsed = JSON.parse(blockMatch[1].trim());\n      } catch (e2) {\n        const braceMatch = response.match(/\\{([\\s\\S]*)\\}/);\n        if (braceMatch) {\n          try {\n            parsed = JSON.parse(braceMatch[0]);\n          } catch (e3) {\n            parsed = { error: 'No se pudo parsear la respuesta', raw: response };\n          }\n        }\n      }\n    }\n  }\n}\n\nif (!parsed) {\n  return [{ json: { error: 'Respuesta no parseable', raw: response } }];\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        544
      ],
      "id": "3d86df6d-fae2-4d56-8039-f9a00e1dc12c",
      "name": "Parsear JSON del LLM y a\u00f1ade variables inicio"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rol: Eres un m\u00e9dico rehabilitador. En vez de pacientes, la informaci\u00f3n de entrada que tienes son sus c\u00f3digos de la Clasificaci\u00f3n Internacional del Funcionamiento (CIF). Bas\u00e1ndote en el Core Set de la CIF para el Dolor Cr\u00f3nico Generalizado (Chronic Widespread Pain), debes tener en cuenta las deficiencias exactas que representa cada c\u00f3digo.\n\nA continuaci\u00f3n tienes las descripciones de las categor\u00edas CIF recuperadas de la base de conocimiento, para ayudarte a entender el significado de cada c\u00f3digo:\n{context}\n\nTarea: Tu tarea es escribir 3 historias cl\u00ednicas sint\u00e9ticas y realistas a partir de la informaci\u00f3n proporcionada en la secci\u00f3n <INPUT_ACTUAL>, por cada combinaci\u00f3n de c\u00f3digos.\n\nReglas Cr\u00edticas:\n1. Variabilidad: Las 3 historias deben ser estructural y sem\u00e1nticamente distintas. Utiliza distinta fraseolog\u00eda m\u00e9dica para describir los problemas\n2. Cero C\u00f3digos: Est\u00e1 ESTRICTAMENTE PROHIBIDO escribir los c\u00f3digos alfanum\u00e9ricos (ej. \"b280\" o \"d430\") dentro del texto de la historia cl\u00ednica.\n3. Formato JSON: Responde \u00daNICAMENTE con un objeto JSON v\u00e1lido, sin bloques de c\u00f3digo Markdown ni texto introductorio. Mant\u00e9n el id_code_combination, los icf_codes y los icf_name del JSON de entrada.\n4. Coherencia Cl\u00ednica: Revisa que no haya m\u00e1s c\u00f3digos de los que aparezcan en los proporcionados y que la historia refleje las deficiencias exactas.\n5. Trazabilidad de IDs: El campo \"id_clinical_text\" de cada historia generada debe seguir estrictamente el patr\u00f3n \"[ID_INPUT]_[NUMERO]\". Para este procesamiento, el ID exacto que debes usar como base es \"{{ $json.id_code_combination }}\". Por tanto, los tres identificadores generados deben ser obligatoriamente: \"{{ $json.id_code_combination }}_1\", \"{{ $json.id_code_combination }}_2\" y \"{{ $json.id_code_combination }}_3\".\n\n<EJEMPLO>\nInput:\n{\n  \"id_code_combination\": \"006\",\n  \"icf_codes\": [\"b280\", \"d430\", \"d760\", \"d920\"],\n  \"icf_name\": [\"b280- Sensaci\u00f3n de dolor\",\"d430-Levantar y llevar objetos\", \"d760-Relaciones Familiares\", \"d920-Tiempo libre y ocio\"]\n}\n\nOutput:\n{\n  \"id_code_combination\": \"006\",\n  \"icf_codes\": [\"b280\", \"d430\", \"d760\", \"d920\"],\n  \"icf_name\": [\"b280- Sensaci\u00f3n de dolor\",\"d430-Levantar y llevar objetos\", \"d760-Relaciones Familiares\", \"d920-Tiempo libre y ocio\"],\n  \"historias_clinicas\": [\n    {\n      \"id_clinical_text\": \"006_1\",\n      \"clinical_text\": \"Adolescente de 12 a\u00f1os acude a consulta por dolor de cadera tras notar un pinchazo desde hace m\u00e1s de un a\u00f1o tras un partido de hockey. Refiere que la molestia le impide cargar su mochila escolar y ha provocado discusiones constantes con sus padres al negarse a participar en las excursiones familiares de fin de semana.\"\n    }\n  ]\n}\n</EJEMPLO>\n\n<INPUT_ACTUAL>\n{{ JSON.stringify($json) }}\n</INPUT_ACTUAL>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        832,
        528
      ],
      "id": "f83571ad-b90f-45d2-a4b6-8e617c27d4b5",
      "name": "con puenteo de formato"
    },
    {
      "parameters": {
        "model": "gemma2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        800,
        1120
      ],
      "id": "30c69249-0ee3-4244-8e6b-e415849d2d70",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "UtWcKdNytXqpLqaV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        800,
        864
      ],
      "id": "50bae73d-fed4-444d-bbdf-c3558952a8bd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "80bZ0I6b53xGQCHD",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gemma2\",\n  \"prompt\": \"Responde \u00fanicamente con la palabra RECIBIDO. No a\u00f1adas nada m\u00e1s.\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        352
      ],
      "id": "6c9bed22-a67e-479e-9169-01355445fe2e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c92e8801-3230-486a-9f80-6ac72d30da58",
              "name": "datos_procesados",
              "value": "={{ JSON.parse($json.text.replace(/```json|```/g, '').trim()) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        304
      ],
      "id": "8b9df0ed-4678-46a5-b04a-9cd74e7dc314",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "pacientes_silico.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        1680
      ],
      "id": "4a9b003b-cee7-445a-9c1a-ba1423d2d375",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        2160
      ],
      "id": "89338680-0881-4df8-be80-d7654dff6a0c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "JEETsbvwfH5JUXdD",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1184,
        2176
      ],
      "id": "91364f08-fef9-46fe-a565-68cb3675e7e3",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "UtWcKdNytXqpLqaV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1280,
        1872
      ],
      "id": "c0056448-94f4-4511-82f7-133f91af651a",
      "name": "Vector Store Retriever1"
    },
    {
      "parameters": {
        "qdrantCollection": "icf_brief_spanish",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1184,
        2032
      ],
      "id": "d1361c03-192f-45e3-be21-a6b918d7ec8a",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "Se6dS4EqhF06aYMR",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        880,
        1808
      ],
      "id": "8180afc6-ea77-4e00-91a1-f509fc0444ba"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json:{\n  \"id_code_combination\": \"006\",\n  \"icf_codes\": [\"b280\", \"d430\", \"d760\", \"d770\", \"d920\"],\n  \"icf_name\": [\"b280-Sensaci\u00f3n de dolor\",\"d430-Levantar y llevar objetos\",\n        \"d760-Relaciones Familiares\", \"d920-Tiempo libre y ocio\"]\n    }\n  }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1984
      ],
      "id": "38a029ae-e65e-451e-8cf1-b91902e78414",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rol: Eres un m\u00e9dico rehabilitador. En vez de pacientes, la informaci\u00f3n de entrada que tienes son sus c\u00f3digos de la Clasificaci\u00f3n Internacional del Funcionamiento (CIF). Bas\u00e1ndote en el Core Set de la CIF para el Dolor Cr\u00f3nico Generalizado (Chronic Widespread Pain), debes tener en cuenta las deficiencias exactas que representa cada c\u00f3digo.\n\nA continuaci\u00f3n tienes las descripciones de las categor\u00edas CIF recuperadas de la base de conocimiento, para ayudarte a entender el significado de cada c\u00f3digo:\n{context}\n\nTarea: Tu tarea es escribir 3 historias cl\u00ednicas realistas a partir de la informaci\u00f3n proporcionada en la secci\u00f3n <INPUT_ACTUAL>, por cada combinaci\u00f3n de c\u00f3digos.\n\nReglas Cr\u00edticas:\n1. Variabilidad: Las 3 historias deben ser estructural y sem\u00e1nticamente distintas. Utiliza distinta fraseolog\u00eda m\u00e9dica para describir los problemas\n2. Cero C\u00f3digos: Est\u00e1 ESTRICTAMENTE PROHIBIDO escribir los c\u00f3digos alfanum\u00e9ricos (ej. \"b280\" o \"d430\") dentro del texto de la historia cl\u00ednica.\n3. Restricci\u00f3n Tipogr\u00e1fica: Est\u00e1 ESTRICTAMENTE PROHIBIDO usar comillas dobles (\") dentro del texto generado. Si necesitas citar textualmente al paciente, usa obligatoriamente comillas simples (').\n4. Formato JSON: Responde \u00daNICAMENTE con un objeto JSON v\u00e1lido, sin bloques de c\u00f3digo Markdown ni texto introductorio. \n5. Coherencia Cl\u00ednica: Revisa que no haya m\u00e1s c\u00f3digos de los que aparezcan en los proporcionados y que la historia refleje las deficiencias exactas.\n\n\n<EJEMPLO>\nInput:\n{\n  \"id_code_combination\": \"006\",\n  \"icf_codes\": [\"b280\", \"d430\", \"d760\", \"d920\"],\n  \"icf_name\": [\"b280-Sensaci\u00f3n de dolor\",\"d430-Levantar y llevar objetos\", \"d760-Relaciones Familiares\", \"d920-Tiempo libre y ocio\"]\n}\n\nOutput:\n\n{\n  \"clinical_object\": [\n    {\n      \"clinical_text\": \"Adolescente de 12 a\u00f1os acude a consulta por dolor de cadera tras notar un pinchazo desde hace m\u00e1s de un a\u00f1o tras un partido de hockey, no acudi\u00f3 al m\u00e9dico en ese momento, actualmente las radiograf\u00edas no muestran lesi\u00f3n, no realizada RMN. Actualmente refiere dificultad para llevar la mochila del colegio, y para jugar con su padre al hockey, que es su principal hobby. Le gustar\u00eda volver a poder jugar\"\n    },\n    {\n    \"clinical_text\": \"Var\u00f3n de 40 a\u00f1os, acude a consulta por dolor de espalda recurrente que comenz\u00f3 hace 5 a\u00f1os. Aproximadamente un episodio al mes. Trabaja de conductor de taxi, refiere no tener problemas para trabajar. Sin embargo dice tener dificultades para viajar, los episodios le impiden planificar viajes pues si le dan apenas puede moverse. Esto le limita a la hora de buscar espacios comunes con su pareja. Le gustar\u00eda poder reducir la frecuencia de episodios o saber qu\u00e9 puede hacer cu\u00e1ndo aparecen.\"\n    },\n    {\n    \"clinical_text\": \"Mujer 70 a\u00f1os, acude a consulta por dolor de MSD que apareci\u00f3 sin motivo aparente, dice que lo tiene 'de toda la vida'. Es activa, realiza actividades en el centro cultural del barrio como yoga y cer\u00e1mica con su hermana. Se siente limitada a la hora de realizar yoga, sigue realizando la actividad para ver a su hermana.\"\n    }\n  ]\n}\n\n</EJEMPLO>\n\n<INPUT_ACTUAL>\n{{ JSON.stringify($json) }}\n</INPUT_ACTUAL>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1040,
        1680
      ],
      "id": "53fdf44d-bba7-4431-89c6-ca0db5056f6f",
      "name": "con puenteo de formato1"
    },
    {
      "parameters": {
        "model": "gemma2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1008,
        2320
      ],
      "id": "3c0c79d6-18a1-40ce-bf8b-33944384076a",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "UtWcKdNytXqpLqaV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1008,
        2016
      ],
      "id": "165c716d-1d64-4ec6-81dd-423163a4aec9",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "80bZ0I6b53xGQCHD",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Version 2.0 -> 3.0\n- El LLM solo se encarga de generar las historias, el parseo es fuera\n",
        "height": 192,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        1312
      ],
      "typeVersion": 1,
      "id": "81904b2a-5bfc-4164-b93e-c431116b8e7e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "formTitle": "documento_raw",
        "formFields": {
          "values": [
            {
              "fieldLabel": "documento_a_vectorizar",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        16,
        1776
      ],
      "id": "d7dcebe2-3043-4d7f-b615-5ba9f1625b9d",
      "name": "On form submission3",
      "webhookId": "520c18b9-8379-4128-82b8-dd2c1f7244f4"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json = {\n    icf_codes: item.json.icf_codes,\n    icf_name: item.json.icf_name,\n  };\n}\n\nreturn $input.all();;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1680
      ],
      "id": "d6cfbe1d-b105-4d9b-9079-8c6d8c9befc9",
      "name": "quita el id del json"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\n\nif (!inputItem?.binary) {\n  throw new Error(\"No se encontraron datos binarios en la entrada del nodo de activaci\u00f3n.\");\n}\n\nconst [binaryKey] = Object.keys(inputItem.binary);\nif (!binaryKey) {\n  throw new Error(\"El objeto binario est\u00e1 vac\u00edo o mal estructurado.\");\n}\n\nlet parsedData;\ntry {\n  const binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n  const rawString = binaryBuffer.toString('utf-8');\n  parsedData = JSON.parse(rawString);\n} catch (error) {\n  throw new Error(`Fallo cr\u00edtico al parsear el archivo binario a JSON: ${error.message}`);\n}\n\nconst itemsToProcess = Array.isArray(parsedData) ? parsedData : [parsedData];\n\nreturn itemsToProcess.map(({ id_code_combination, icf_code, icf_name, clinical_profile }) => ({\n  json: {\n    id_code_combination,\n    icf_codes: icf_code,\n    icf_name: icf_name ?? null,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1776
      ],
      "id": "3b72b232-322c-4f23-a3d2-132eae74a6e1",
      "name": "doc_to_json"
    },
    {
      "parameters": {
        "jsCode": "// 1. Funciones puras (Single Responsibility Principle)\nconst extraerTextoBruto = (json) => {\n  // El operador '?.' (Optional Chaining) evita errores si una propiedad no existe\n  return json.response || \n         json.choices?.[0]?.message?.content || \n         json.output || \n         json.message;\n};\n\nconst limpiarMarkdownJSON = (texto) => {\n  const match = texto.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\n  return match ? match[1] : texto;\n};\n\nconst parsearDatosLLM = (textoBruto, indice) => {\n  const textoLimpio = limpiarMarkdownJSON(textoBruto);\n  try {\n    return JSON.parse(textoLimpio.trim());\n  } catch (error) {\n    throw new Error(`JSON inv\u00e1lido en iteraci\u00f3n ${indice}. Texto: ${textoLimpio}`);\n  }\n};\n\nconst formatearHistoriasClinicas = (datosParseados, idCombinacion) => {\n  const historias = datosParseados.clinical_object || datosParseados.historias_clinicas;\n  \n  if (!Array.isArray(historias)) return [];\n\n  // Mapeo directo en lugar de bucles manuales\n  return historias.map((historia, index) => ({\n    id_clinical_text: `${idCombinacion}_${index + 1}`,\n    clinical_text: historia.clinical_text\n  }));\n};\n\n// 2. Ejecuci\u00f3n principal\nconst datosOriginales = $('doc_to_json').all();\nconst inputsActuales = $input.all();\n\n// En lugar de mutar un array con un bucle 'for', devolvemos uno nuevo con '.map()'\nconst resultadosFinales = inputsActuales.map((item, index) => {\n  const textoBruto = extraerTextoBruto(item.json);\n  \n  if (!textoBruto) {\n    throw new Error(`Variable de texto ausente en item ${index}.`);\n  }\n\n  const datosIA = parsearDatosLLM(textoBruto, index);\n  const datosBase = datosOriginales[index].json; // Datos de referencia\n\n  // 3. Ensamblaje final\n  return {\n    json: {\n      id_code_combination: datosBase.id_code_combination,\n      icf_codes: datosBase.icf_codes,\n      icf_name: datosBase.icf_name,\n      clinical_object: formatearHistoriasClinicas(datosIA, datosBase.id_code_combination)\n    }\n  };\n});\n\nreturn resultadosFinales;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        1680
      ],
      "id": "369649d5-cc09-4bd3-9db1-b7285e1109ba",
      "name": "from_llm_to_json"
    },
    {
      "parameters": {
        "batchSize": 250,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        1744
      ],
      "id": "426c7719-539b-4168-8877-d46212d6fa0f",
      "name": "loop"
    },
    {
      "parameters": {
        "content": "## Clinical text generator 3.0.\nLLM only codifies, Js code parses the information outside without the LLM",
        "height": 832,
        "width": 2352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        1600
      ],
      "typeVersion": 1,
      "id": "cd596e42-58b5-4dfa-8c7b-ec580e35e89f",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "model": "llama3:latest",
          "created_at": "2026-03-11T16:00:54.811302776Z",
          "message": {
            "role": "assistant",
            "content": "La paciente de 94 a\u00f1os, diagnosticada con s\u00edndrome de fragilidad geri\u00e1trica y sarcopenia, presenta un cuadro cl\u00ednico complejo caracterizado por un elevado nivel de dolor (8/10) y una grave dependencia (\u00cdndice de Barthel de 20). En el momento de la evaluaci\u00f3n, la paciente se encuentra sentada en la cama, con una actitud postural caracterizada por una notable flexi\u00f3n de la columna vertebral y una leve inclinaci\u00f3n hacia adelante, lo que sugiere una limitaci\u00f3n en la flexibilidad articular y una posible kinesiofobia. La marcha es laboriosa y requiere de apoyo para mantener el equilibrio, lo que indica una disminuci\u00f3n notable en el balance articular.\n\nEl dolor cr\u00f3nico produce una reducci\u00f3n significativa en la movilidad activa y pasiva, siendo dif\u00edcil para la paciente realizar movimientos de flexi\u00f3n, extensi\u00f3n y rotaci\u00f3n en las articulaciones de la cadera, rodilla y tobillo. La presencia de m\u00faltiples f\u00e1rmacos (polifarmacia) y la debilidad muscular provocada por la sarcopenia agudizan la situaci\u00f3n, lo que hace que la paciente experimente un aumento en la fatiga y el aislamiento.\n\nLa paciente tambi\u00e9n presenta barreras psicosociales importantes, como un notable miedo al movimiento y a la posibilidad de perder el equilibrio, lo que la lleva a restringir sus actividades y a evitar cualquier tipo de esfuerzo f\u00edsico. Esto, a su vez, contribuye a su aislamiento y a su sentimiento de impotencia.\n\nEn cuanto a la asistencia requerida para actividades b\u00e1sicas, la paciente necesita apoyo para realizar actividades como el aseo, vestirse y realizar transferencias entre la cama y la silla, lo que sugiere una gran dependencia en los cuidados de atenci\u00f3n personal y en la movilizaci\u00f3n. La implementaci\u00f3n de estrategias de fisioterapia espec\u00edficas, como el trabajo en ROM y la educaci\u00f3n en la prevenci\u00f3n de ca\u00eddas, es crucial para mejorar la movilidad y la autonom\u00eda de la paciente, as\u00ed como para reducir su dolor y mejorar su calidad de vida."
          },
          "done": true,
          "done_reason": "stop",
          "total_duration": 202110800525,
          "load_duration": 21441131148,
          "prompt_eval_count": 335,
          "prompt_eval_duration": 25899631673,
          "eval_count": 484,
          "eval_duration": 154504376635
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "model": "llama3:latest",
          "created_at": "2026-03-11T16:04:41.457665333Z",
          "message": {
            "role": "assistant",
            "content": "La paciente, una mujer de 69 a\u00f1os, presenta un diagn\u00f3stico principal de lumbalgia cr\u00f3nica inespec\u00edfica con kinesiofobia, lo que implica una franca resistencia a moverse y una considerable ansiedad asociada. En el momento de la evaluaci\u00f3n, observo una actitud postural marcada por una curvatura lateral de la columna vertebral y una leve inclinaci\u00f3n hacia un lado, lo que sugiere una p\u00e9rdida de la estabilidad articular y una compensaci\u00f3n por el dolor. La marcha es caracterizada por un giro lateral y una leve flexi\u00f3n de la rodilla, lo que demuestra una p\u00e9rdida de balance articular y una dependencia moderada para mantener el equilibrio. Aunque no utiliza ayudas t\u00e9cnicas, observo un aumento en la fatiga al caminar, lo que sugiere una limitaci\u00f3n importante en la capacidad para realizar actividades diarias.\n\nEn cuanto a la movilidad, observo una limitaci\u00f3n significativa en la flexi\u00f3n de la cadera y la rodilla, lo que hace que el paciente presente un ROM (range of motion) reducido en estas articulaciones. La movilidad pasiva es moderadamente afectada, lo que sugiere una rigidez en la articulaci\u00f3n lumbosacra y una posible lesi\u00f3n en la aponeurosis iliopsoas. El dolor es irruptivo, con un nivel de 9/10 en la escala de evaluaci\u00f3n visual, lo que impide cualquier intento de movilidad activa.\n\nEn cuanto a las barreras psicosociales, la paciente presenta una franca kinesiofobia, lo que la lleva a evitar cualquier tipo de movimiento que implique flexi\u00f3n o rotura de la columna vertebral. Esto, a su vez, ha llevado a una situaci\u00f3n de aislamiento social y un estado an\u00edmico bajo, lo que sugiere una importante influencia del dolor en su calidad de vida. La paciente requiere una asistencia significativa para realizar actividades b\u00e1sicas, como el aseo, el vestido y las transferencias, lo que sugiere una dependencia importante en la atenci\u00f3n a largo plazo. En general, la paciente presenta un panorama cl\u00ednico complejo que requiere un enfoque integral y un abordaje multidisciplinario para abordar sus necesidades y mejorar su calidad de vida."
          },
          "done": true,
          "done_reason": "stop",
          "total_duration": 225906962679,
          "load_duration": 327909980,
          "prompt_eval_count": 339,
          "prompt_eval_duration": 35364394158,
          "eval_count": 510,
          "eval_duration": 189765567540
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "model": "llama3:latest",
          "created_at": "2026-03-11T16:08:03.256754564Z",
          "message": {
            "role": "assistant",
            "content": "La paciente, una mujer de 66 a\u00f1os, se presenta en mi consultorio con un diagn\u00f3stico principal de fractura de cadera reciente post-quir\u00fargica. Su nivel de dolor es alto, evaluado en 9 sobre 10, con un patr\u00f3n irruptivo. En cuanto a su actitud postural, observo que presenta una postura cerrada y apoyada en la cadera lesionada, lo que sugiere una posible kinesiofobia y resistencia a moverse. La marcha es lenta y laboriosa, con un patr\u00f3n de giro y balance articular alterado, lo que requiere de una asistencia t\u00e9cnica para evitar ca\u00eddas y lesiones adicionales.\n\nEn cuanto a la movilidad, la paciente presenta limitaciones significativas en el rango de movimiento (ROM) activo y pasivo en la cadera y pierna afectada, debido al dolor y la inestabilidad articular. La movilidad pasiva es mejor que la activa, pero a\u00fan as\u00ed, se ve afectada por la falta de fuerza muscular y la inestabilidad articular. La paciente tambi\u00e9n presenta barreras psicosociales importantes, como un miedo razonable a moverse y a experimentar dolor, lo que la lleva a un estado de aislamiento y fatiga cr\u00f3nica. A pesar de tener un \u00edndice de Barthel de 60, la paciente requiere una asistencia significativa para realizar actividades b\u00e1sicas como el aseo, vestido y transferencias, lo que sugiere un deterioro cognitivo leve y una dependencia leve.\n\nEn general, la paciente presenta una complejidad cl\u00ednica significativa, con un dolor cr\u00f3nico que afecta su capacidad para moverse y realizar actividades de la vida diaria, y barreras psicosociales importantes que la llevan a un estado de aislamiento y fatiga cr\u00f3nica. Es fundamental abordar estas barreras y trabajar con la paciente para establecer objetivos y estrategias para mejorar su movilidad, reducir su dolor y aumentar su autonom\u00eda y independencia."
          },
          "done": true,
          "done_reason": "stop",
          "total_duration": 201145842018,
          "load_duration": 225660581,
          "prompt_eval_count": 333,
          "prompt_eval_duration": 24925256204,
          "eval_count": 452,
          "eval_duration": 175594360039
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "model": "llama3:latest",
          "created_at": "2026-03-11T16:12:38.175501753Z",
          "message": {
            "role": "assistant",
            "content": "La paciente de 95 a\u00f1os presenta una actitud postural caracterizada por una postura encorvada y con una leve inclinaci\u00f3n hacia adelante, lo que sugiere una cierta limitaci\u00f3n en el control de la curvatura de la espalda y una posible disminuci\u00f3n de la capacidad de estabilizaci\u00f3n del tronco. En cuanto a la marcha, observo que ella presenta un patr\u00f3n de gait caracterizado por una leve marcha de \"tierra\", con una tendencia a apoyar m\u00e1s peso en el pie izquierdo, lo que puede estar relacionado con la artrosis severa de rodilla bilateral. A pesar de tener una leve dependencia (\u00cdndice de Barthel de 60), ella no requiere ayuda t\u00e9cnica para caminar, aunque puede necesitar un apoyo leve en el brazo derecho para mantener el equilibrio.\n\nEn cuanto a las limitaciones de movilidad, la paciente presenta un rango de movimiento (ROM) reducido en ambas rodillas, especialmente en la flexi\u00f3n, lo que se traduce en una capacidad limitada para doblarse o sentarse. El dolor en la rodilla bilateral (EVA de 4/10) tambi\u00e9n parece influir en su capacidad para realizar movimientos activos, como sentarse o pararse, ya que se nota una cierta hesitaci\u00f3n antes de iniciar cualquier movimiento. La movilidad pasiva es mejor en ambos miembros inferiores, pero a\u00fan as\u00ed, la paciente presenta una limitaci\u00f3n significativa en la extensi\u00f3n y flexi\u00f3n de la rodilla izquierda.\n\nEn cuanto a las barreras psicosociales, la paciente presenta un cierto miedo al movimiento, lo que se traduce en una cierta kinesiofobia, lo que la lleva a evitar actividades que impliquen cambios en la postura o el movimiento. Adem\u00e1s, la fatiga y el aislamiento social tambi\u00e9n pueden ser factores que la limitan en su capacidad para realizar actividades cotidianas. La polifarmacia y el dolor cr\u00f3nico pueden estar contribuyendo a su estado actual de salud, lo que la lleva a sentirse abrumada y sin energ\u00eda para enfrentar los desaf\u00edos diarios.\n\nEn cuanto al nivel de asistencia requerida, la paciente necesita ayuda para realizar actividades b\u00e1sicas como el aseo, vestido y transferencias, ya que su limitaci\u00f3n en la movilidad y el dolor cr\u00f3nico la impiden para realizar estas actividades por s\u00ed sola. Sin embargo, es importante destacar que ella presenta un buen nivel de coordinaci\u00f3n y control de la curvatura de la espalda, lo que sugiere que con un enfoque en la educaci\u00f3n y la motivaci\u00f3n, puede ser capaz de mejorar su capacidad funcional y reducir su dependencia."
          },
          "done": true,
          "done_reason": "stop",
          "total_duration": 274072980136,
          "load_duration": 289399014,
          "prompt_eval_count": 327,
          "prompt_eval_duration": 34521947623,
          "eval_count": 597,
          "eval_duration": 238761189851
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "model": "llama3:latest",
          "created_at": "2026-03-11T16:16:09.745286023Z",
          "message": {
            "role": "assistant",
            "content": "En la evaluaci\u00f3n inicial, me encuentro con una paciente de 81 a\u00f1os, con una fractura de cadera reciente post-quir\u00fargica, que presenta un nivel de dolor moderado (4/10). A pesar de su buen estado general, su deterioro cognitivo leve puede afectar su capacidad para colaborar en el proceso terap\u00e9utico. Su actitud postural es tenso-axial, con una tendencia a utilizar su pierna izquierda como apoyo para mantener el equilibrio, lo que sugiere una posible limitaci\u00f3n en el uso de su pierna derecha.\n\nSu patr\u00f3n de marcha presenta una gait anormal, con una tendencia a utilizar su pierna izquierda para impulsarse y una menor participaci\u00f3n de su pierna derecha. Esto puede estar relacionado con la lesi\u00f3n en la cadera, lo que ha llevado a una reorganizaci\u00f3n de su patr\u00f3n de movilidad. Sin embargo, su capacidad para utilizar ayudas t\u00e9cnicas, como un bast\u00f3n o una silla de ruedas, es limitada, ya que presenta una leve kinesiofobia en cuanto al uso de ayudas visuales.\n\nEn cuanto a la movilidad, la paciente presenta limitaciones activas en la rotaci\u00f3n de la cadera y la flexi\u00f3n de la rodilla derecha, lo que puede estar relacionado con el dolor y la lesi\u00f3n en la cadera. Sin embargo, su movilidad pasiva en la cadera y la rodilla izquierda es normal, lo que sugiere que no hay una limitaci\u00f3n estructural significativa en estas articulaciones. Sin embargo, su capacidad para realizar actividades b\u00e1sicas, como aseo y vestido, est\u00e1 limitada por la necesidad de transferencias y la falta de confianza en su capacidad para moverse de manera independiente.\n\nEn cuanto a las barreras psicosociales, la paciente presenta un miedo al movimiento, especialmente en cuanto al uso de ayudas visuales, lo que puede estar relacionado con su deterioro cognitivo. Tambi\u00e9n presenta un aislamiento social, lo que puede estar relacionado con su edad y su condici\u00f3n m\u00e9dica. Su nivel de asistencia requerida para actividades b\u00e1sicas es moderado, ya que necesita ayuda para transferencias y tiene dificultades para realizar actividades de aseo y vestido de manera independiente."
          },
          "done": true,
          "done_reason": "stop",
          "total_duration": 210659755514,
          "load_duration": 450989573,
          "prompt_eval_count": 328,
          "prompt_eval_duration": 30460838811,
          "eval_count": 504,
          "eval_duration": 179368641997
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "On form submission1": [
      {
        "json": {
          "documento_a_vectorizar": [
            {
              "filename": "input_of_generator_extra_info.json",
              "mimetype": "application/json",
              "size": 2401
            }
          ],
          "submittedAt": "2026-07-04T11:30:16.516-04:00",
          "formMode": "test"
        },
        "binary": {
          "documento_a_vectorizar": {
            "mimeType": "application/json",
            "fileType": "json",
            "fileExtension": "json",
            "data": "filesystem-v2",
            "fileName": "input_of_generator_extra_info.json",
            "id": "filesystem-v2:workflows/xy2izDm6LQ62wrZC/executions/temp/binary_data/fb1582ed-befa-40d2-85ec-b0f722400766",
            "fileSize": "2.4 kB",
            "bytes": 2401
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "con puenteo de formato": [
      {
        "json": {
          "response": "```json\n{\n  \"id_code_combination\": \"001\",\n  \"icf_codes\": [\"b130\", \"b134\", \"b175\", \"b280\", \"e1101\"],\n  \"icf_name\": [\"b130-Energy and drive functions\", \"b134-Sleep functions\", \"b175-Solving problems\", \"b280-Sensaci\u00f3n de dolor\", \"e1101-Drugs\"],\n  \"historias_clinicas\": [\n    {\n      \"id_clinical_text\": \"001_1\",\n      \"clinical_text\": \"Paciente de 45 a\u00f1os acude a consulta refiriendo una disminuci\u00f3n significativa de su energ\u00eda y motivaci\u00f3n para realizar actividades cotidianas desde los \u00faltimos 6 meses. Adem\u00e1s, presenta dificultades para conciliar el sue\u00f1o y mantiene un patr\u00f3n de sue\u00f1o irregular. La falta de descanso adecuado ha afectado su capacidad para resolver problemas en el trabajo, lo que ha generado estr\u00e9s adicional. El paciente tambi\u00e9n refiere experimentar dolor cr\u00f3nico generalizado que afecta su calidad de vida. Actualmente, se encuentra bajo tratamiento con medicaci\u00f3n para el dolor y para regular su sue\u00f1o.\"\n    },\n    {\n      \"id_clinical_text\": \"001_2\",\n      \"clinical_text\": \"Nota de evoluci\u00f3n: El paciente presenta una mejora leve en los niveles de energ\u00eda despu\u00e9s de ajustar la dosis de su medicaci\u00f3n para el sue\u00f1o. Sin embargo, persisten las dificultades para resolver problemas complejos, lo que sugiere la necesidad de apoyo cognitivo adicional. El dolor cr\u00f3nico sigue siendo un s\u00edntoma predominante, aunque la intensidad ha disminuido ligeramente con el tratamiento farmacol\u00f3gico actual. Se ha iniciado un programa de terapia cognitiva conductual para abordar las dificultades de sue\u00f1o y los patrones de pensamiento negativos asociados con el dolor cr\u00f3nico.\"\n    },\n    {\n      \"id_clinical_text\": \"001_3\",\n      \"clinical_text\": \"Anamnesis en primera consulta: La paciente, una mujer de 38 a\u00f1os, describe una vida laboral y personal muy activa hasta hace un a\u00f1o, cuando comenz\u00f3 a experimentar una fatiga inexplicable que la llev\u00f3 a reducir significativamente sus actividades. Tambi\u00e9n refiere haber tenido problemas para dormir y ha estado tomando medicaci\u00f3n para ayudar a conciliar el sue\u00f1o. Los problemas para resolver situaciones complejas en el trabajo han aumentado, y siente que su capacidad para tomar decisiones ha disminuido. El dolor generalizado es otro s\u00edntoma que ha afectado su calidad de vida. La paciente busca ayuda para recuperar su nivel de energ\u00eda y bienestar, y para encontrar estrategias efectivas para manejar el dolor y mejorar su sue\u00f1o.\"\n    }\n  ]\n}\n```"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "response": "```json\n{\n  \"id_code_combination\": \"002\",\n  \"icf_codes\": [\"b152\", \"b1602\", \"b280\", \"d240\", \"d850\", \"e570\"],\n  \"icf_name\": [\"b152-Emotional functions\", \"b1602-Content of thought\", \"b280-Sensaci\u00f3n de dolor\", \"d240-Handling stress and other psychological demands\", \"d850-Remunerative employment\", \"e570-Social security services, systems and policies\"],\n  \"historias_clinicas\": [\n    {\n      \"id_clinical_text\": \"002_1\",\n      \"clinical_text\": \"Paciente de 35 a\u00f1os, con antecedentes de estr\u00e9s laboral y dolor cr\u00f3nico, presenta dificultades para manejar situaciones de estr\u00e9s y demandas psicol\u00f3gicas en su lugar de trabajo. Adem\u00e1s, refiere pensamientos intrusivos y rumiaciones que afectan su capacidad para realizar tareas y tomar decisiones. La situaci\u00f3n se ha complicado por la percepci\u00f3n de dolor constante, lo que le ha llevado a buscar ayuda para mejorar su bienestar emocional y capacidad para realizar su trabajo de manera efectiva.\"\n    },\n    {\n      \"id_clinical_text\": \"002_2\",\n      \"clinical_text\": \"En la evaluaci\u00f3n inicial, el paciente expresa sentirse abrumado por el estr\u00e9s diario y la incapacidad para controlar su dolor, lo que ha impactado negativamente en su desempe\u00f1o laboral. Los pensamientos recurrentes de ansiedad y la preocupaci\u00f3n por su situaci\u00f3n laboral han generado un c\u00edrculo vicioso de estr\u00e9s y malestar emocional. Es necesario abordar estos aspectos para mejorar su capacidad para manejar el estr\u00e9s y recuperar su bienestar general.\"\n    },\n    {\n      \"id_clinical_text\": \"002_3\",\n      \"clinical_text\": \"Durante la sesi\u00f3n de seguimiento, el paciente menciona que ha estado experimentando dificultades para conciliar el estr\u00e9s laboral con su salud emocional. El dolor cr\u00f3nico ha seguido siendo un factor limitante en su capacidad para realizar tareas y mantener relaciones saludables en el entorno laboral. Se ha vuelto dependiente de los servicios de seguridad social para ayudar a manejar su situaci\u00f3n, pero se muestra motivado para encontrar estrategias para mejorar su resiliencia y capacidad para manejar el estr\u00e9s, con el objetivo de retomar su vida laboral de manera satisfactoria.\"\n    }\n  ]\n}\n```"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "response": "```\n{\n  \"id_code_combination\": \"003\",\n  \"icf_codes\": [\"b134\", \"b152\", \"b280\", \"d240\", \"d640\", \"d760\", \"d920\", \"e310\", \"e410\"],\n  \"icf_name\": [\"b134-Sleep functions\", \"b152-Emotional functions\", \"b280-Sensaci\u00f3n de dolor\", \"d240-Handling stress and other psychological demands\", \"d640-Realizar los quehaceres de la casa\", \"d760-Relaciones Familiares\", \"d920-Tiempo libre y ocio\", \"e310-Immediate family\", \"e410- Individual attitudes of immediate family members\"],\n  \"historias_clinicas\": [\n    {\n      \"id_clinical_text\": \"003_1\",\n      \"clinical_text\": \"La paciente de 35 a\u00f1os presenta insomnio cr\u00f3nico y dolor generalizado, lo que le impide realizar las tareas dom\u00e9sticas y afecta su relaci\u00f3n con su familia. Refiere sentirse abrumada por el estr\u00e9s y la ansiedad, y ha notado un deterioro en su capacidad para manejar las demandas psicol\u00f3gicas diarias. Su familia inmediata muestra actitudes de apoyo, pero la paciente siente que no puede disfrutar de actividades de ocio debido a su condici\u00f3n.\"\n    },\n    {\n      \"id_clinical_text\": \"003_2\",\n      \"clinical_text\": \"En la evaluaci\u00f3n inicial, el paciente de 42 a\u00f1os informa que ha estado experimentando dolor cr\u00f3nico y alteraciones del sue\u00f1o, lo que le dificulta realizar las tareas del hogar y mantener una relaci\u00f3n saludable con su familia. Se observa que el paciente tiene dificultades para manejar el estr\u00e9s y otras demandas psicol\u00f3gicas, y su capacidad para disfrutar del tiempo libre y el ocio se ve limitada. La actitud de su familia inmediata es de apoyo, pero el paciente siente que necesita mejorar su capacidad para manejar el estr\u00e9s y la ansiedad.\"\n    },\n    {\n      \"id_clinical_text\": \"003_3\",\n      \"clinical_text\": \"La nota de evoluci\u00f3n del paciente de 28 a\u00f1os indica que ha habido una mejora en su capacidad para dormir y manejar el dolor, lo que le ha permitido retomar algunas de las tareas dom\u00e9sticas y participar en actividades de ocio con su familia. Sin embargo, todav\u00eda se observan dificultades para manejar el estr\u00e9s y la ansiedad, y se requiere un seguimiento para evaluar la efectividad de las estrategias de afrontamiento y el apoyo familiar. La actitud de su familia inmediata sigue siendo de apoyo, y se espera que el paciente contin\u00fae progresando en su capacidad para manejar las demandas psicol\u00f3gicas diarias.\"\n    }\n  ]\n}\n```"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "response": "```\n{\n  \"id_code_combination\": \"004\",\n  \"icf_codes\": [\"b1602\", \"b280\", \"b455\", \"b730\", \"d920\"],\n  \"icf_name\": [\"b1602-Content of thought\", \"b280-Sensaci\u00f3n de dolor\", \"b455-Exercise tolerance functions\", \"b730-Muscle power functions\", \"d920-Tiempo libre y ocio\"],\n  \"historias_clinicas\": [\n    {\n      \"id_clinical_text\": \"004_1\",\n      \"clinical_text\": \"Paciente de 35 a\u00f1os con antecedentes de lesiones deportivas cr\u00f3nicas, se presenta con dolor persistente en las articulaciones y miedo a realizar actividades f\u00edsicas intensas debido a la posibilidad de empeorar su condici\u00f3n. Refiere dificultad para realizar ejercicios prolongados y nota una disminuci\u00f3n significativa en su resistencia y fuerza muscular, lo que le impide disfrutar de sus hobbies favoritos como el ciclismo y el senderismo.\"\n    },\n    {\n      \"id_clinical_text\": \"004_2\",\n      \"clinical_text\": \"Nota de evoluci\u00f3n: Paciente sigue refiriendo dolor cr\u00f3nico y limitaciones en su capacidad para realizar actividades f\u00edsicas, especialmente aquellas que requieren esfuerzo muscular sostenido. Se ha observado una disminuci\u00f3n en su tolerancia al ejercicio y una notable reducci\u00f3n en su capacidad para realizar movimientos que requieren fuerza, afectando negativamente su calidad de vida y participaci\u00f3n en actividades de ocio como jugar con sus hijos o practicar yoga.\"\n    },\n    {\n      \"id_clinical_text\": \"004_3\",\n      \"clinical_text\": \"Anamnesis: Paciente informa que su capacidad para pensar y concentrarse se ve afectada por el dolor constante y la fatiga muscular. Expresa temor a realizar actividades que puedan agravar su condici\u00f3n, lo que limita su participaci\u00f3n en actividades recreativas y sociales. Se ha notado una disminuci\u00f3n en su capacidad aer\u00f3bica y una mayor sensibilidad al esfuerzo f\u00edsico, afectando su autonom\u00eda y bienestar general, y expresando deseos de retomar actividades como correr y nadar sin experimentar dolor o agotamiento excesivo.\"\n    }\n  ]\n}\n```"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "response": "```json\n{\n  \"id_code_combination\": \"005\",\n  \"icf_codes\": [\"b280\", \"d230\", \"d450\", \"d640\"],\n  \"icf_name\": [\"b280- Sensaci\u00f3n de dolor\", \"d230-Llevar a cabo rutinas diarias\", \"d450-Andar\", \"d640-Realizar los quehaceres de la casa\"],\n  \"historias_clinicas\": [\n    {\n      \"id_clinical_text\": \"005_1\",\n      \"clinical_text\": \"Paciente de 50 a\u00f1os presenta dolor cr\u00f3nico generalizado que le impide realizar sus quehaceres dom\u00e9sticos con la misma eficiencia que antes. Refiere dificultad para caminar durante largas distancias y necesidad de frecuentes paradas para descansar. La rutina diaria se ha visto afectada, con necesidad de ayuda para tareas como la compra y la limpieza.\"\n    },\n    {\n      \"id_clinical_text\": \"005_2\",\n      \"clinical_text\": \"En la evaluaci\u00f3n de seguimiento, se observa que el paciente ha experimentado una disminuci\u00f3n en su capacidad para realizar actividades como caminar y realizar tareas dom\u00e9sticas debido a un aumento en el dolor generalizado. Se han iniciado ajustes en la rutina diaria para minimizar el esfuerzo f\u00edsico y se est\u00e1 considerando la implementaci\u00f3n de terapias para manejar el dolor y mejorar la movilidad.\"\n    },\n    {\n      \"id_clinical_text\": \"005_3\",\n      \"clinical_text\": \"Anamnesis de paciente que refiere dolor persistente que afecta su capacidad para realizar tareas cotidianas. La dificultad para caminar y realizar quehaceres dom\u00e9sticos ha llevado a una disminuci\u00f3n en su autonom\u00eda y ha requerido el apoyo de familiares y amigos. Se ha programado una evaluaci\u00f3n detallada para determinar el impacto del dolor en su calidad de vida y desarrollar un plan de manejo integral.\"\n    }\n  ]\n}\n```"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "response": "```\n{\n  \"id_code_combination\": \"006\",\n  \"icf_codes\": [\"b280\", \"d430\", \"d760\", \"d770\", \"d920\"],\n  \"icf_name\": [\"b280- Sensaci\u00f3n de dolor\", \"d430-Levantar y llevar objetos\", \"d760-Relaciones Familiares\", \"d770-Relaciones \u00edntimas\", \"d920-Tiempo libre y ocio\"],\n  \"historias_clinicas\": [\n    {\n      \"id_clinical_text\": \"006_1\",\n      \"clinical_text\": \"Paciente de 35 a\u00f1os con dolor cr\u00f3nico generalizado que afecta su capacidad para realizar actividades cotidianas como cargar objetos pesados, lo que ha impactado en su relaci\u00f3n con su pareja debido a la falta de intimidad y en su participaci\u00f3n en actividades recreativas con su familia, como ir al cine o practicar deportes.\"\n    },\n    {\n      \"id_clinical_text\": \"006_2\",\n      \"clinical_text\": \"En la evaluaci\u00f3n de seguimiento, se observa que la paciente presenta dificultades para mantener relaciones familiares y sociales debido a su dolor cr\u00f3nico, que le impide participar en eventos sociales y familiares, y tambi\u00e9n afecta su relaci\u00f3n con su pareja, generando tensiones y conflictos en su vida \u00edntima. Adem\u00e1s, refiere que ya no puede disfrutar de sus hobbies favoritos, como tocar el piano o leer, debido a la molestia persistente.\"\n    },\n    {\n      \"id_clinical_text\": \"006_3\",\n      \"clinical_text\": \"Anamnesis de paciente con antecedentes de dolor generalizado cr\u00f3nico que ha afectado significativamente su calidad de vida. Refiere que el dolor le impide realizar tareas dom\u00e9sticas que requieren levantar objetos pesados, lo que ha generado conflictos con sus familiares y ha afectado su relaci\u00f3n con su pareja. La paciente expresa que ya no puede disfrutar de actividades de ocio como ir al teatro o practicar yoga con su pareja, lo que ha aumentado su sentimiento de aislamiento y ha deteriorado su relaci\u00f3n familiar y social.\"\n    }\n  ]\n}\n```"
        },
        "pairedItem": {
          "item": 5
        }
      }
    ],
    "On form submission3": [
      {
        "json": {
          "documento_a_vectorizar": [
            {
              "filename": "input_of_generator_extra_info.json",
              "mimetype": "application/json",
              "size": 2401
            }
          ],
          "submittedAt": "2026-07-06T06:27:52.221-04:00",
          "formMode": "test"
        },
        "binary": {
          "documento_a_vectorizar": {
            "mimeType": "application/json",
            "fileType": "json",
            "fileExtension": "json",
            "data": "filesystem-v2",
            "fileName": "input_of_generator_extra_info.json",
            "id": "filesystem-v2:workflows/xy2izDm6LQ62wrZC/executions/temp/binary_data/8049deb7-ae83-4165-a95f-c03069e45306",
            "fileSize": "2.4 kB",
            "bytes": 2401
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "con puenteo de formato1": [
      {
        "json": {
          "response": "{\n  \"clinical_object\": [\n    {\n      \"clinical_text\": \"Paciente de 30 a\u00f1os acude a consulta refiriendo una disminuci\u00f3n significativa en su energ\u00eda y motivaci\u00f3n para realizar actividades cotidianas, acompa\u00f1ada de una alteraci\u00f3n en su patr\u00f3n de sue\u00f1o que le impide descansar adecuadamente. Adem\u00e1s, presenta dificultades para resolver problemas y toma de decisiones, lo que se ve exacerbado por el dolor cr\u00f3nico que experimenta. Est\u00e1 tomando medicaci\u00f3n para ayudar a regular su sue\u00f1o, pero siente que esto no est\u00e1 mejorando su capacidad para afrontar desaf\u00edos diarios de manera efectiva.\"\n    },\n    {\n      \"clinical_text\": \"Una mujer de 50 a\u00f1os se presenta con quejas de falta de energ\u00eda y fatiga persistente, que afecta su capacidad para realizar tareas dom\u00e9sticas y cuidar de su familia. Tambi\u00e9n reporta problemas para conciliar el sue\u00f1o y permanecer dormida durante la noche, lo que empeora su estado de \u00e1nimo y concentraci\u00f3n. El dolor cr\u00f3nico que padece aumenta su frustraci\u00f3n y sentimiento de abrumaci\u00f3n, dificultando su capacidad para resolver problemas cotidianos. La medicaci\u00f3n para el sue\u00f1o le brinda algo de alivio, pero busca ayuda para mejorar su calidad de vida en general.\"\n    },\n    {\n      \"clinical_text\": \"Var\u00f3n de 45 a\u00f1os acude a la consulta debido a una disminuci\u00f3n progresiva en su nivel de energ\u00eda y motivaci\u00f3n, que se ha visto acompa\u00f1ada de un patr\u00f3n de sue\u00f1o irregular y dificultades para resolver problemas y tomar decisiones de manera efectiva. El dolor cr\u00f3nico que experimenta es un factor importante que contribuye a su estado de malestar general. Aunque ha iniciado tratamiento con medicaci\u00f3n para regular su sue\u00f1o, busca apoyo para superar los desaf\u00edos que enfrenta en su vida diaria y mejorar su capacidad para manejar el dolor y otros s\u00edntomas que lo aquejan.\"\n    }\n  ]\n}"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "response": "{\n  \"clinical_object\": [\n    {\n      \"clinical_text\": \"Paciente de 35 a\u00f1os con antecedentes de depresi\u00f3n, refiere sentir una persistente sensaci\u00f3n de tristeza y dolor cr\u00f3nico generalizado, que le dificulta mantener su empleo como contadora. La paciente menciona que 'su mente est\u00e1 llena de pensamientos negativos', lo que le impide manejar el estr\u00e9s laboral y le causa problemas para dormir. Expresa su deseo de encontrar un trabajo que se adapte a sus necesidades y pueda acceder a servicios de seguridad social que la apoyen en su situaci\u00f3n actual.\"\n    },\n    {\n      \"clinical_text\": \"Var\u00f3n de 42 a\u00f1os, trabajador aut\u00f3nomo, acude a consulta por dolor cr\u00f3nico y problemas para mantener su negocio debido a la dificultad para manejar el estr\u00e9s y la ansiedad. Refiere que 'su mente es un torbellino de ideas negativas' que le impiden tomar decisiones claras y efectivas en su trabajo. Busca encontrar estrategias para manejar su estr\u00e9s y dolor, y as\u00ed poder mantener su empleo remunerado y acceder a los servicios de seguridad social que lo ayuden a superar esta situaci\u00f3n.\"\n    },\n    {\n      \"clinical_text\": \"Mujer de 50 a\u00f1os, empleada en una empresa de servicios, presenta dolor cr\u00f3nico generalizado y problemas emocionales, incluyendo pensamientos recurrentes de ansiedad y depresi\u00f3n. La paciente expresa que 'le cuesta mucho trabajo' manejar las demandas psicol\u00f3gicas de su empleo y que el dolor cr\u00f3nico la limita en su capacidad para realizar tareas laborales y acceder a los servicios de seguridad social que necesita. Su deseo es encontrar un equilibrio entre su salud y su empleo remunerado.\"\n    }\n  ]\n}"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "response": "{\n  \"clinical_object\": [\n    {\n      \"clinical_text\": \"Paciente de 35 a\u00f1os, madre de dos hijos, acude a consulta refiriendo dificultades para dormir y un estado de \u00e1nimo bajo desde hace varios meses. Manifiesta sentir dolor generalizado en su cuerpo, especialmente en las ma\u00f1anas, lo que le dificulta realizar las tareas dom\u00e9sticas y cuidar a sus hijos. Adem\u00e1s, se siente abrumada por el estr\u00e9s diario y tiene problemas para manejar las demandas psicol\u00f3gicas de su entorno. Le gustar\u00eda encontrar una forma de mejorar su calidad de sue\u00f1o y reducir su dolor para poder disfrutar m\u00e1s tiempo con su familia y retomar sus actividades de ocio, como la pintura, que tanto le aprecia.\"\n    },\n    {\n      \"clinical_text\": \"Var\u00f3n de 42 a\u00f1os, casado, acude a consulta por problemas de dolor cr\u00f3nico que le impiden realizar sus tareas dom\u00e9sticas con la misma eficiencia que antes. Se siente estresado por no poder cumplir con sus responsabilidades familiares y manifiesta dificultades para manejar el estr\u00e9s y las demandas psicol\u00f3gicas de su trabajo y su vida familiar. Adem\u00e1s, refiere problemas para conciliar el sue\u00f1o y se encuentra en un estado de \u00e1nimo bajo la mayor parte del tiempo. Le preocupa c\u00f3mo afectar\u00e1 su situaci\u00f3n a sus relaciones familiares y su capacidad para disfrutar de actividades de ocio con su esposa, como el senderismo, que siempre han disfrutado juntos.\"\n    },\n    {\n      \"clinical_text\": \"Mujer de 50 a\u00f1os, divorciada, acude a consulta refiriendo un estado de \u00e1nimo depresivo y dificultades para dormir desde la muerte de su madre, hace un a\u00f1o. Ha notado un aumento en su dolor generalizado, especialmente en las articulaciones, lo que le dificulta realizar las tareas del hogar y pasar tiempo con sus nietos, lo que m\u00e1s disfruta. Se siente abrumada por el estr\u00e9s de cuidar a sus nietos y manejar su hogar sola, y manifiesta problemas para manejar las demandas psicol\u00f3gicas de su nueva situaci\u00f3n familiar. Le gustar\u00eda encontrar una forma de mejorar su calidad de vida y poder disfrutar m\u00e1s tiempo con sus seres queridos, y retomar sus actividades de ocio, como la jardiner\u00eda, que siempre le ha apasionado.\"\n    }\n  ]\n}"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "response": "{\n  \"clinical_object\": [\n    {\n      \"clinical_text\": \"Paciente de 35 a\u00f1os, ex deportista de alto nivel, acude a consulta por dolor cr\u00f3nico en las articulaciones que le limita para realizar actividades f\u00edsicas, tiene miedo a empeorar el dolor si vuelve a practicar deporte, presenta pensamientos catastrofistas sobre su capacidad para realizar actividades que requieren esfuerzo f\u00edsico, como subir escaleras o caminar largas distancias. Refiere dificultad para realizar actividades de ocio como ir al cine o salir con amigos debido a la fatiga y el dolor cr\u00f3nico.\"\n    },\n    {\n      \"clinical_text\": \"Mujer de 50 a\u00f1os, con antecedentes de lesiones musculoesquel\u00e9ticas, acude a consulta por dolor persistente en la regi\u00f3n lumbar que le impide realizar actividades que requieren esfuerzo f\u00edsico, como levantar objetos pesados o realizar tareas dom\u00e9sticas, tambi\u00e9n presenta dificultad para realizar actividades de ocio como bailar o practicar yoga, debido a la falta de tolerancia al ejercicio y la disminuci\u00f3n de la fuerza muscular.\"\n    },\n    {\n      \"clinical_text\": \"Var\u00f3n de 28 a\u00f1os, con historial de lesiones deportivas, acude a consulta por dolor cr\u00f3nico en las extremidades que le limita para realizar actividades f\u00edsicas intensas, presenta pensamientos de evitaci\u00f3n hacia el ejercicio f\u00edsico debido al miedo a empeorar el dolor, tambi\u00e9n refiere dificultad para realizar actividades de ocio como jugar con sus hijos o practicar deportes de equipo, debido a la falta de resistencia y la disminuci\u00f3n de la fuerza muscular, lo que le genera sentimientos de frustraci\u00f3n y ansiedad.\"\n    }\n  ]\n}"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "response": "{\n  \"clinical_object\": [\n    {\n      \"clinical_text\": \"Paciente de 50 a\u00f1os acude a consulta refiriendo dolor cr\u00f3nico generalizado que le impide realizar las tareas dom\u00e9sticas con la misma facilidad que antes, sobre todo debido a la dificultad para caminar durante largos periodos. La paciente menciona que 'le duele mucho' cuando intenta hacer las compras o andar al parque con su familia. Le preocupa no poder mantener su casa limpia y organizada como siempre ha hecho.\"\n    },\n    {\n      \"clinical_text\": \"Var\u00f3n de 35 a\u00f1os, despu\u00e9s de varios a\u00f1os de dolor cr\u00f3nico, se siente limitado en sus actividades diarias, especialmente al realizar quehaceres de la casa y al caminar. Comenta que siente un dolor constante que le hace dif\u00edcil levantar objetos pesados, lo que le impide ayudar en las tareas del hogar como antes. Le gustar\u00eda poder retomar sus actividades cotidianas sin sentir dolor.\"\n    },\n    {\n      \"clinical_text\": \"Mujer de 60 a\u00f1os acude a consulta por dolor cr\u00f3nico que le afecta significativamente su capacidad para realizar las tareas dom\u00e9sticas y caminar sin dificultad. Refiere que 'no puede hacer nada' sin sentir dolor, lo que la ha llevado a depender de su familia para realizar las compras y los quehaceres de la casa. Le preocupa perder su independencia y no poder disfrutar de su tiempo libre como sol\u00eda hacer.\"\n    }\n  ]\n}"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "response": "{\n  \"clinical_object\": [\n    {\n      \"clinical_text\": \"Paciente de 35 a\u00f1os con antecedentes de dolor cr\u00f3nico generalizado, presenta dificultades para realizar actividades cotidianas como levantar y llevar objetos debido a la intensidad del dolor. Esto ha afectado su relaci\u00f3n con su pareja, ya que siente que no puede realizar actividades juntos como antes, y tambi\u00e9n ha limitado su participaci\u00f3n en eventos sociales con su familia. Le gustar\u00eda encontrar una manera de manejar su dolor para mejorar su calidad de vida y relaciones interpersonales.\"\n    },\n    {\n      \"clinical_text\": \"Mujer de 50 a\u00f1os que acude a consulta por dolor persistente que afecta su capacidad para realizar tareas dom\u00e9sticas y cuidar de su familia. La dificultad para levantar y llevar objetos la ha obligado a depender m\u00e1s de su pareja y familiares, lo que ha generado tensiones en sus relaciones. Adem\u00e1s, el dolor le ha impedido disfrutar de actividades de ocio como la pintura y la lectura, que eran fundamentales para su bienestar emocional. Busca una soluci\u00f3n para su dolor y recuperar su independencia.\"\n    },\n    {\n      \"clinical_text\": \"Var\u00f3n de 28 a\u00f1os que se queja de dolor cr\u00f3nico generalizado que le impide realizar actividades f\u00edsicas con su pareja y amigos. La dificultad para levantar y llevar objetos le ha limitado su capacidad para participar en deportes y actividades al aire libre, lo que ha afectado su relaci\u00f3n con su pareja y su autoestima. Adem\u00e1s, el dolor ha interferido con su capacidad para disfrutar de su tiempo libre y ocio, lo que ha generado sentimientos de frustraci\u00f3n y aislamiento. Desea encontrar una forma de manejar su dolor y recuperar su calidad de vida.\"\n    }\n  ]\n}"
        },
        "pairedItem": {
          "item": 5
        }
      }
    ],
    "doc_to_json": [
      {
        "json": {
          "id_code_combination": "001",
          "icf_codes": [
            "b130",
            "b134",
            "b175",
            "b280",
            "e1101"
          ],
          "icf_name": [
            "b130-Energy and drive functions",
            "b134-Sleep functions",
            "b175-solving problems",
            "b280-Sensaci\u00f3n de dolor",
            "e1101-Drugs"
          ],
          "clinical_profile": "low energy, low sleep, cognitive, sleep medication"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id_code_combination": "002",
          "icf_codes": [
            "b152",
            "b1602",
            "b280",
            "d240",
            "d850",
            "e570"
          ],
          "icf_name": [
            "b152-Emotional functions",
            "b1602-Content of thought",
            "b280-Sensaci\u00f3n de dolor",
            "d240-Handling stress and other psychological demands",
            "d850-Remunerative employment",
            "e570-Social security services, systems and policies"
          ],
          "clinical_profile": "emotional, pain, work, stress"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id_code_combination": "003",
          "icf_codes": [
            "b134",
            "b152",
            "b280",
            "d240",
            "d640",
            "d760",
            "d920",
            "e310",
            "e410"
          ],
          "icf_name": [
            "b134-Sleep functions",
            "b152-Emotional functions",
            "b280-Sensaci\u00f3n de dolor",
            "d240-Handling stress and other psychological demands",
            "d640-Realizar los quehaceres de la casa",
            "d760-Relaciones Familiares",
            "d920-Tiempo libre y ocio",
            "e310-Immediate family",
            "e410- Individual attitudes of immediate family members"
          ],
          "clinical_profile": "family, housework, stress, emotional, sleep"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id_code_combination": "004",
          "icf_codes": [
            "b1602",
            "b280",
            "b455",
            "b730",
            "d920"
          ],
          "icf_name": [
            "b1602-Content of thought",
            "b280-Sensaci\u00f3n de dolor",
            "b455-Exercise tolerance functions",
            "b730-Muscle power functions",
            "d920-Tiempo libre y ocio"
          ],
          "clinical_profile": "exsport,fear of movement, hardness in endurance or power."
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id_code_combination": "005",
          "icf_codes": [
            "b280",
            "d230",
            "d450",
            "d640"
          ],
          "icf_name": [
            "b280- Sensaci\u00f3n de dolor",
            "d230-Llevar a cabo rutinas diarias",
            "d430-Levantar y llevar objetos",
            "d450-Andar",
            "d640-Realizar los quehaceres de la casa"
          ],
          "clinical_profile": "housework, walk, free time"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id_code_combination": "006",
          "icf_codes": [
            "b280",
            "d430",
            "d760",
            "d770",
            "d920"
          ],
          "icf_name": [
            "b280- Sensaci\u00f3n de dolor",
            "d430-Levantar y llevar objetos",
            "d760-Relaciones Familiares",
            "d920-Tiempo libre y ocio"
          ],
          "clinical_profile": "social"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "con puenteo de formato",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "con puenteo de formato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsea respuesta LLM": {
      "main": [
        []
      ]
    },
    "Parsear JSON del LLM y a\u00f1ade variables inicio": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "con puenteo de formato": {
      "main": [
        [
          {
            "node": "Parsear JSON del LLM y a\u00f1ade variables inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "con puenteo de formato",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever1": {
      "ai_retriever": [
        [
          {
            "node": "con puenteo de formato1",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "con puenteo de formato1": {
      "main": [
        [
          {
            "node": "from_llm_to_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "con puenteo de formato1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission3": {
      "main": [
        [
          {
            "node": "doc_to_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quita el id del json": {
      "main": [
        [
          {
            "node": "con puenteo de formato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "doc_to_json": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "from_llm_to_json": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "quita el id del json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "10254611-6616-4231-85a2-9393cd34e4ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44fbf0ed6965a74a09769e18b367d9a9eaef6bc57579db2e8bdb7023c84df464"
  },
  "id": "xy2izDm6LQ62wrZC",
  "tags": []
}